.uptitle {
  // font-weight: 600;
  // font-size: 11px;
  // line-height: 15px;
  text-transform: uppercase;
  @include font(600, 11px, 15px, null);

  @extend %list;
  gap: 20px;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
}

.uptitle--color-light {
  color: rgba(157, 164, 189, 0.6);
}

.uptitle--color-dark {
  color: #303030;
}
