:root {
  --font-ral: 'Raleway', sans-serif;
  --color-gray: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --base-lg: 1.36;
  --gra: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}
