.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgb(179, 223, 223);
}

.about__container {
  display: flex;
  gap: 30px;
}

.about__wrap {
  max-width: 470px;
}

.picture-list {
  display: flex;
  gap: 30px;
}

.about__uptitle {
  margin-bottom: 20px;
}

.about__title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about__subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about__btn {
  color: var(--second-btn-color);
}
