.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgb(179, 223, 223);
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  max-width: 470px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: var(--second-btn-color);
}
