.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7f7f7;
}
.barbers-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: #303030;
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}
.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  background-color: rgba(255, 106, 0, 0.681);
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
  .barbers-item:hover & {
    transform: translateY(0);
  }
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-link {
  width: 100%;
  height: 100%;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 300ms linear;
  &:hover {
    background-color: aquamarine;
  }
}

.barbers-soc-icon {
  fill: #ffffff;
  transition: fill 300ms linear;
  .barbers-soc-link:hover & {
    fill: blueviolet;
  }
}

/* .barbers-soc-link:hover {
  background-color: aquamarine;
  fill: blueviolet;
} */
