.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}
.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.contacts-address {
  font-style: inherit;
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.contacts-link-bold {
  font-weight: 700;
}

.contacts-schedule-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}
.contacts-schedule-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
