.header__conteiner {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 131px;
}

.header__navigation {
  margin-right: auto;
}

.menu__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
  text-decoration: none;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  transition: color 300ms linear;
  &:hover,
  &:focus,
  &.current {
    color: #ff6c00;
  }
  &:active {
    color: #000;
  }
}

.header__contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

/* line-height / font-size =  */

.header__btn {
  color: var(--first-btn-color);
  margin-left: 43px;
}
