.hero__container {
  display: flex;
  padding: 0;
  @include mobile {
    max-width: 100%;
  }
  @include tablet {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.soc {
  width: 100px;
  display: none;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
  @include tablet {
    display: flex;
  }
}
.soc-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}

.soc-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

.hero__wrap {
  background-image: var(--gra), url(../images/hero-bg-mob.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 210px 30px;
  flex-grow: 1;
  @include retina {
    background-image: var(--gra), url(../images/hero-bg-mob-2x.jpeg);
  }
  @include mobile {
    background-image: var(--gra), url(../images/hero-bg-tab.jpeg);
    @include retina {
      background-image: var(--gra), url(../images/hero-bg-tab-2x.jpeg);
    }
  }
  @include tablet {
    padding: 272px 98px 237px;
    background-image: var(--gra), url(../images/hero_image.jpg);

    @include retina {
      background-image: var(--gra), url(../images/hero_image-2x.jpeg);
    }
  }
  @include desktop {
    padding: 272px 100px 208px 100px;
  }
}
.hero__uptitle {
  margin-bottom: 20px;
}

.hero__title {
  font-family: var(--font-ral);
  font-size: 42px;
  line-height: calc(56 / 48);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  // &::after {
  //   content: '';
  //   width: 40px;
  //   height: 40px;
  //   background-color: #ffffff;
  //   background-image: url(../images/facebook.svg);
  //   background-size: contain;
  // }
  @include mobile {
    font-size: 48px;
  }
  @include desktop {
    font-size: 72px;
    line-height: calc(84 / 72);
  }
}

.hero__subtitle {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
  @include tablet {
    font-size: 18px;
    line-height: 1.67;
  }
}
